# Git ignore file, Romain Lafarguette, https://romainlafarguette.github.io/

# Ignore some folders
__pycache__/
modules/__pycache__/
.ipynb_checkpoints/

# Folders
archives/
authorities/
data/
modules/ 
drafts/
pickle/
resources/

# Ignore some extensions (e.g. for LateX files)
*.aux
*.log
*.nav
*.out
*.snm
*.toc
*.el

# Ignore some files (put file name directy)
tmp*
